body{
    font-style: normal;
    font-family: tahoma, arial, sans-serif;
    margin: 0;
    padding: 0;
}

#principal{
    width: 1024px;
    margin: 20px auto;
}

.header-top{
    height: 50px;
    background-color: #162028;
    position: relative;
}

.logotipo{
    margin: 5px 0 0 155px;
}

.header-nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.header-nav ul{
    margin: 0;
    padding: 0;
}
.header-nav li{
    list-style: none;
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 15px;
}

.header-nav a{
    color: #425564;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
    transition: color 0.3s linear;
}

.header-nav a:hover{
    color: white;
}

.portfolio{
    padding: 40px 100px;
    text-align: center;
}

.portfolio h1{
    font-size: 36px;
    color: #252525;
}

.portfolio p{
    font-size: 16px;
    line-height: 2;
    color: #555;
}

.gallery{
    padding: 0 50px 50px 100px;
    color: #555;
    overflow: auto;
}

.gallery-card{
    width: 32%;
    float: left;
    text-align: center;
}

.gallery-title{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    font-weight: bold;
}

.about{
    background-color: #003d52;
    padding: 100px;
    color: white;
    background-image: url(imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.about h2{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: normal;
}

.about p{
    line-height: 1.5;
    width: 70%;
}

.contact{
    margin: 50px 0;
}

.contact address{
    color: #143f52;
    text-transform: uppercase;
    font-size: 26px;
    font-style: normal;
    text-align: center;
    font-weight: bold;
}

.maps{
    width: 100%;
    height: 450px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.rodape{
    background-color: #0b171f;
    padding: 25px;
    font-size: 12px;
    color: #6f8597;
    letter-spacing: 3px;
    text-align: center;
}
